.main-content-container {
  display: flex;
}

.gif-container {
  background-color: hotpink;
  flex-wrap: wrap;
  display: flex;
  width: 75%;
}

.gifDiv {
  margin: 5px;
}

.input-side {
  background-color: indianred;
  float: right;
}
